# Tipos de dados

Em Python (e outras linguagens de programação), os dados e valores podem ser de diferentes **tipos** (também chamados de **classes**). O tipo determina quais operações/manipulações podem ser feitas com um valor (que também pode ser chamado de **objeto.

Os tipos de dados básicos (ou **primitivos**) em python são:
   - **String** (str) - Sequência de caracteres alfanuméricos (texto). Ex: "banana", "Área 51", "1991"
   - **Integer** (int) - Números inteiros. Ex: 20, 150, -36
   - **Float** (float) - Números com casas decimais. Ex: 4.5, -0.05, 1024.0 
   - **Booleano** (bool) - Dois valores: True ou False

A função *type* nos diz qual o tipo/classe de um valor:

In [11]:
print("1:", type("palavra"))

print("2:", type("42")) #Uso de aspas - tipo string

print("3:", type(42))

print("4:", type(42.0))

print("5:", type(True))

1: <class 'str'>
2: <class 'str'>
3: <class 'int'>
4: <class 'float'>
5: <class 'bool'>

Um mesmo valor pode ser representado como, por exemplo, uma *string* ou um *integer*, como o valor 42 no exemplo acima. A classe desse valor altera sua manipulação:

In [7]:
# Somando dois integers
42 + 42

84

In [8]:
# Somando duas strings
"42" + "42"

'4242'

In [9]:
# Somando um integer e uma string
42 + "42"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**OBS:** Repare que nas células de código acima, comentários foram adicionados sem atrapalhar a operação da célula. Isso é feito ao se adicionar um `#` antes do comentário. O Python ignorará qualquer coisa escrita após o `#`.

In [13]:
# Isso será ignorado

In [14]:
# Isso será ignorado
Isso não será ignorado e dará um erro

SyntaxError: invalid syntax (<ipython-input-14-d51c4a86f11f>, line 2)

In [15]:
# Isso será ignorado
# Isso não será ignorado e dará um erro

## Conversão de tipos

Geralmente, também é possível converter dados de um tipo para outro. Por exemplo, o erro acima não aconteceria se convertêssemos o texto (string) para um número inteiro (integer). Para isso, usamos a função **int**:

In [10]:
# Somando um inteiro e uma string convertida em inteiro
42 + int("42")

84

As funções de conversão dos principais tipos são:
  - **int**: Converte um valor para integer (inteiro)
  - **str**: Converte um valor para string (texto)
  - **float**: Converte um valor para float (decimal)
  - **bool**: Converte um valor para booleano (verdadeiro ou falso)

In [25]:
print(type(42.0),)

print(type(int(42.0)))

print(type(str(42.0)))

print(type(bool(42.0)))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [17]:
#Nem todas as conversões são possíveis...
int("A")

ValueError: invalid literal for int() with base 10: 'A'

## Números - Integer/Floats

### Aritmética básica

In [26]:
# Adição
2+3################################

4

In [27]:
# Subtração
2-3

0

In [28]:
# Multiplicação
2*3

4

In [32]:
# Divisão
7/2

3.5

In [33]:
# Floor division
# Retorna o maior inteiro possível sem arredondar pra cima
7//2

3

In [34]:
# Resto
7%2

1

In [35]:
# Potência
2**3

8

In [37]:
# Raiz quadrada
16**0.5

4.0

### Equações e Precedência

Python também lida com equações

In [40]:
2 + 3 * 3

11

Repare que a soma, apesar de ser a primeira operação da equação, é efetuada depois da multiplicação. Isso ocorre porque Python (e a matemática, de forma geral) segue uma **ordem de precedência das operações**.

A ordem de precedência é comumente chamada de **PEMDAS**:

- **P**   Parênteses, daí
- **E**   Expoentes, daí
- **MD**  Multiplicação e divisão, da esquerda para a direita, daí
- **AS** Adição e subtração, da esquerda para a direita

Logo, para executar as operações na ordem desejada, precisamos utilizar **parênteses**

In [41]:
(2 + 3) * 3 * 3

15

In [45]:
# Sem parênteses
5 + 2 * 3 + 7

18

In [46]:
# Com parênteses
(5 + 2) * (3 + 7)

70

De maneira geral, os floats (decimais) se comportam de forma bem similar aos integers:

In [54]:
1.0 + 4.5

5.5

In [55]:
1.5 * 2

3.0

Obs: Uma operação entre um integer e um float gera um float:

In [56]:
print(type(10))
print(type(2.5))
print(type(10 * 2.5))

<class 'int'>
<class 'float'>
<class 'float'>

## Texto - Strings

Para criar uma string em Python, é necessário usar aspas duplas (" ") ou simples (' '):

In [2]:
# Uma única palavra:
'Olá!'

'Olá!'

In [3]:
# Frase intieira:
'Essa frase também é uma string'

'Essa frase também é uma string'

In [4]:
# Podemos também usar aspas duplas:
"String feita com aspas duplas"

'String feita com aspas duplas'

In [5]:
# Cuidado com as aspas simples
'Hoje vou limpar minha caixa d'água'

SyntaxError: invalid syntax (<ipython-input-5-a2709dafa8fc>, line 2)

O erro aconteceu por causa das aspas simples em `d'água`, que parou a string antes do esperado. É possível usar então as aspas duplas para evitar esse problema e obter a frase inteira.

In [6]:
"Hoje vou limpar minha caixa d'água"

"Hoje vou limpar minha caixa d'água"

Mas nunca use aspas duplas para fechar uma string iniciada com aspas simples (e vice-versa)

In [9]:
'Frase iniciada com aspas simples e fechada com aspas duplas"

SyntaxError: EOL while scanning string literal (<ipython-input-9-1bb7b8cb91d6>, line 1)

### Imprimindo uma string (função print)

No Jupyter notebook, uma célula com uma string irá automaticamente imprimir essa string (ou qualquer outro tipo de dado) na tela.

Entretanto, a forma correta de se imprimir valores em um programa consiste no uso da função `print`.

In [10]:
# Nós podemos simplesmente declarar uma string
'Frase 1'

'Frase 1'

In [12]:
# Mas note que não podemos imprimir múltiplas strings na tela dessa forma
'Frase 1'
'Frase 2'

'Frase 2'

In [16]:
# Com print, podemos imprimir quantas strings forem necessárias
print('Frase 1')
print('Frase 2')
print('Frase 3')
print('Frase 4')
print('Frase 5')
print('Frase 6')
print('Frase 7')
print('Frase 8')

Frase 1
Frase 2
Frase 3
Frase 4
Frase 5
Frase 6
Frase 7
Frase 8

**OBS:** O caractere '\n' é usado para começar uma nova linha:

In [17]:
print('Use \n para imprimir uma nova linha')
print('\n')
print('Viu como funciona?')

Use
 para imprimir uma nova linha


Viu como funciona?

### Operações matemáticas com strings

Sim, por mais estranho que possa parecer, é possível usar algumas operações matemáticas com strings, mas o resultado é bem diferente do que acontece com números (integers e floats):

In [18]:
# Adição de strings
'Banana' + 'é' + 'bacana'

'Bananaébacana'

In [19]:
# Multiplicação de strings
'Pão'*5

'PãoPãoPãoPãoPão'

A bioinformática se baseia na manipulação de informações em texto (ex: sequência de DNA). Logo, nos aprofundaremos na manipulação de strings em uma aula posterior.

## Valores Booleanos - Verdadeiro ou falso

Basicamente, são valores que dizem se algo é verdadeiro ou falso. Possuem usos que ficarão mais claros posteriormente.

Um possível uso dessas variáveis é checar se uma equação é verdadeira ou falsa:

In [22]:
5 + 4 = 9

SyntaxError: cannot assign to operator (<ipython-input-22-fd1257bf7599>, line 1)

Ué, por que a equação deu um erro?

No python, o sinal de igual `=` tem uma função específica, que veremos na próxima aula (variáveis).

Em Python, temos dois **operadores de equalidade**:
  - para verificar se dois valores são iguais entre si, usamos o operador `==`
  - para verificar se dois valores são diferentes um do outro, usamos o operador `!=`

In [25]:
# Para checar se o termo da direita é igual ao da esquerda:
5 + 4 == 9

True

In [26]:
# Para checar se o termo da direita é diferente do da esquerda:
5 + 4 != 9

False

Repare que o resultado das equações foi um valor booleano: True ou False

Sempre que tivermos a comparação de valores por meio de `==` ou `!=`, o resultado será um valor booleano.

Até aqui, usamos os operadores de equalidade para números inteiros, mas eles podem ser usados para basicamente qualquer tipo de dado em Python

In [33]:
print(5 + 5 != 13)
print(4.5 * 2 == 9)

True
True

In [34]:
print('banana' == 'banana')
print('banana' == 'Banana')

True
False

### Operadores comparativos

`==` e `!=` são parte de uma classe maior de operadores chamados **operadores comparativos**, que retornam valores booleanos quando aplicados. Abaixo segue uma lista completa desses operadores:

| Operador   |    Significado |
| ---------  | ---------- |
|    ==      |    Igualdade |
|    !=      |    Desigualdade |
|    >      |    Maior que |
|    <      |    Menor que |
|    >=      |    Maior ou igual a |
|    <=      |    Menor ou igual a |

Isso é o bastante (por enquanto) sobre tipos de dados em python.

Entretanto, já pensou o quão chato é ter que ficar repetindo um valor o tempo todo, especialmente se você estiver trabalhando com vários valores ao mesmo tempo (o que é geralmente o caso)?

Na próxima aula, vamos aprender como 'nomear' valores usando **variáveis** e usar esses nomes para chamar esses valores quando for necessário ou conveniente.